@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    word-spacing: 4px;
}


h1,h2 {
    color: #fff;
}


h4{
    font-style: italic;
    font-weight: 600;
    text-shadow: 1px 1px 2px #808080db ;
    color: #ffffff;
}

p{
    color: rgb(207, 206, 206);
}


.body {
    background-color: #121214;
}


.border-top-color{
    border-top: 1px solid #6060635c;
}

.b-white{
    border: 3px solid white;
}

.btn{
    font-size: 1.5rem;
    color: #3e3e99;
}

.btn:hover{
    color: #3535a1;
}

/*me foi necessário fazer com que o link pegasse a cor do pai,por isso o inherit,o pai é justamente a classe btn que funciona como texto*/
a,a:hover{
    color: inherit;
}

.rafa-1{
    background-image: url('../../assets/img/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;
   
}




@media(max-width:425px) {
    p{
        font-size: 1.1rem;
        text-align: center;
    }

    .rafa-1{
        width: 200px;
        height: 200px;
    }

    .d-flex{
        flex-direction: column;
        align-items: center;
    }


}

@media(max-width:375px){

    *{
        word-spacing: 2px;
    }
}


@media(max-width:720px) and (orientation:landscape){
    .rafa-1{
        width: 200px;
        height: 200px;
    }
}






