@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    word-spacing: 4px;
}


h1,h2 {
    color: #fff;
}


h4{
    font-style: italic;
    font-weight: 600;
    text-shadow: 1px 1px 2px #808080db ;
    color: #ffffff;
}

p{
    color: rgb(207, 206, 206);
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.p-wrap{
    width: 50%;
    margin: auto;
    color: rgb(207, 206, 206);
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}



.projects{
    background:url(/assets/img/backgorund3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.body {
    background-color: #121214;
}


.border-top-color{
    border-top: 1px solid #6060635c;
}

.border-color{
    border: 1px solid #6060635c;
}

.color-dark{
    background-color: #0b0b0b;
}


.b-white{
    border: 3px solid white;
}

.btn{
    font-size: 1.5rem;
    color: #3e3e99;
}

.btn-visualizar{

    width: 200px;
    height: 40px;
    margin: 10px 0px 10px 0px;
    background-color: #3e3e99;
    border: 1px solid rgba(0, 0, 0, 0.48);
    border-radius: 7px;
    color: white;
}

.btn-visualizar:hover{

    width: 200px;
    margin: 10px 0px 10px 0px;
    background-color: #313178;
    border: 1px solid rgba(0, 0, 0, 0.48);
    border-radius: 7px;
    color: rgb(202, 199, 199);
}

.link-bt{
    width: 20%;
    height: 4rem;
    background-color: #3535a1;
    border: none;
    border-radius: 6px;
}

.btn:hover{
    color: #3535a1;
}

/*me foi necessário fazer com que o link pegasse a cor do pai,por isso o inherit,o pai é justamente a classe btn que funciona como texto*/
a,a:hover{
    color: inherit;
}

.rafa-1{
    background-image: url('../../assets/img/background.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.section-img{
    border: 4px solid #323236;
    border-radius: 4px;
    max-width: 700px;
    margin-top: 10px;
}







@media(max-width:800px) {
    p{
        font-size: 1.1rem;
        text-align: center;
    }

    .p-wrap{
        width: 90%;
    }

    .rafa-1{
        width: 200px;
        height: 200px;
    }

    .d-flex{
        flex-direction: column;
        align-items: center;
    }

    .btn-visualizar{

        width: 200px;
        margin: 10px 0px 10px 0px;
        background-color: #3e3e99;
        border: 1px solid rgba(0, 0, 0, 0.48);
        border-radius: 7px;
        color: white;
    }
    
    .btn-visualizar:hover{
    
        width: 200px;
        margin: 10px 0px 10px 0px;
        background-color: #313178;
        border: 1px solid rgba(0, 0, 0, 0.48);
        border-radius: 7px;
        color: rgb(202, 199, 199);
    }

    .section-img{
        border: 4px solid #323236;
        border-radius: 4px;
        width: 280px;
        margin-top: 10px;
    }
 
}

@media (max-width:800px) and (orientation:landscape){
    .section-img{
        border: 4px solid #323236;
        border-radius: 4px;
        width: 450px;
        margin-top: 10px;
    }
}

@media(max-width:375px){

    *{
        word-spacing: 2px;
    }

    .section-img{
        border: 4px solid #323236;
        border-radius: 4px;
        max-width: 280px;
        margin-top: 10px;
    }
    
}


@media(max-width:720px) and (orientation:landscape){
    .rafa-1{
        width: 200px;
        height: 200px;
    }


    
}






